<!DOCTYPE html>
<html>

<head>
<title>Error</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<style type="text/css">
   body{
   background-color: #003333;
   }   
   h1{
   color: #339965;
   font-size:48px;
   text-align: center;
   margin-top:15%;
   }
   a{
   color: #66CC98;
   font-size:24px;
   } 
   a:hover{
   color: #339965;
   } 
   a:active{
   color: #336666;
   }
   button{
   margin:5px auto;
</style>
</head>

<body>
  <h1>Error: {{movie}} not found in database</h1>
  <center><a href="/">Try a different combination</a></center>
</body>

</html>
